<p id="notice"><%= notice %></p>

<p>
  <b>Gestation:</b>
  <%= @preterm.gestation %>
</p>

<p>
  <b>Gender:</b>
  <%= @preterm.gender %>
</p>

<p>
  <b>Steroids:</b>
  <%= @preterm.steroids %>
</p>

<p>
  <b>Singleton:</b>
  <%= @preterm.singleton %>
</p>

<p>
  <b>Sga:</b>
  <%= @preterm.sga %>
</p>

<p>
  <b>Nec:</b>
  <%= @preterm.nec %>
</p>

<p>
  <b>Survival:</b>
  <%= @preterm.survival %>
</p>

<p>
  <b>Ivh12:</b>
  <%= @preterm.IVH12 %>
</p>

<p>
  <b>Ivh34:</b>
  <%= @preterm.IVH34 %>
</p>

<p>
  <b>Cld:</b>
  <%= @preterm.CLD %>
</p>

<p>
  <b>Imv:</b>
  <%= @preterm.IMV %>
</p>

<p>
  <b>Homeox:</b>
  <%= @preterm.homeox %>
</p>


<%= link_to 'Edit', edit_preterm_path(@preterm) %> |
<%= link_to 'Back', preterms_path %>
